.tagsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    
}

.tagItem {
    background-color: var(--color-yellow);
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.25rem;
    font-size: 1.1rem;
    cursor: pointer;
}

/* on mobile */
@media (width<=800px) {
    .tagItem {
        font-size: 1rem;
    }
}
