.actionButton {
    display: flex;
    padding: 0.75rem 5rem;
    justify-content: center;
    background-color: var(--color-purple);
    color: white;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    align-items: center;
    transition: color 0.3s ease-in, background-color 0.3s ease-in;

    > :first-child {
        margin-right: 1rem;
    }

    &:hover {
        background-color: var(--color-teal);
        color: black;
    }
}

/* on mobile */
@media (width<=800px) {
    .actionButton {
        padding: 0.75rem 1rem;
        font-size: 1rem;
    }
}
