.contactFormContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contactFormContent {
    border: 1px solid;
    padding: 3rem;
    max-width: 600px;
    width: 100%;
    margin: 0rem 1rem;
    border-radius: 1rem;
}
