.imageGrid  {
}

.previouslyGridContainer {
    margin: 0rem 1rem;
    display: grid;
    img {
        transition: transform 0.2s ease-in;
        
        &:hover {
            transform: scale(1.02);
        }
    }
}

.imageGridTemplateContainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.previouslyGridContainerBorder {
    img {
        border: 1px solid;
        border-radius: 0.5rem;
        border-color: var(--color-border);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    }
}

.previouslyGridContainer > div {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.previouslyImageContent {
    width: 90%;
}

.previouslyImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.showMoreContainer {
    display: flex;
    justify-content: center;
}

.showMoreButton {
    display: flex;
    justify-content: center;
    padding: 1rem 5rem;
    background-color: var(--color-purple);
    color: white;

    border-radius: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: 1px solid;
    border-color: var(--color-border);

    margin: 2rem 0rem;

    transition: color 0.3s ease-in, background-color 0.3s ease-in;
    &:hover {
        background-color: var(--color-teal);
        color: black;
    }

    > :first-child {
        margin-right: 1rem;
    }
}

@media (width<=1200px) {
    .imageGridTemplateContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* on mobile */
@media (width<=800px) {
    .imageGridTemplateContainer {
        grid-template-columns: repeat(1, 1fr);
        margin: 0rem;
    }

    .previouslyImageContent {
        width: 80%;
    }
}
