.mainContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
    max-width: 1440px;
}

.featured {
    width: 100%;
}

.previously {
    width: 100%;

    .previouslyHeading {
        margin: 1rem 0rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 1.5rem;

        h1 {
            font-size: 4rem;
            font-weight: 500;
        }

        h2 {
            font-size: 2rem;
            color: var(--color-purple);
        }
    }
}

.seeMore {
    width: 100%;
    display: flex;
    justify-content: center;

    > :first-child {
        width: 400px;
    }
}

.seeMoreButton {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 5rem;
    background-color: var(--color-purple);
    color: white;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: 1px solid;
    border-color: var(--color-border);
    margin: 2rem 0rem;

    > :first-child {
        margin-right: 1rem;
    }

    transition: color 0.3s ease-in,
    background-color 0.3s ease-in;

    &:hover {
        background-color: var(--color-teal);
        color: black;
    }
}

@media (width<=1400px) {
    .seeMore {
        > :first-child {
            width: 40%;
        }
    }
}

@media (width<=1000px) {

    /* Heading More Coloring Pages */
    .previously {
        .previouslyHeading {
            h1 {
                font-size: 2rem;
            }

            h2 {
                font-size: 1rem;
            }
        }
    }

    /* width see all coloring pages */
    .seeMore {
        > :first-child {
            width: 80%;
        }
    }
}

/* on mobile */
@media (width<=800px) {
    .seeMoreButton {
        font-size: 1rem;
        padding: 1rem 0rem;
    }

    .previously {
        margin-top: 2rem;

        .previouslyHeading {
            margin: 0px;
            gap: 1rem;
            margin-bottom: 2rem;
        }
    }
}