.mainContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    img {
        transition: transform 0.2s ease-in;
        &:hover {
            transform: scale(1.02);
        }
    }
}

.featured {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    background: url("/blurry-gradient-haikei.svg") no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.leftSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    overflow: hidden;
    background-size: cover;

    h1 {
        font-size: 4rem;
        font-weight: 500;
        color: white;
    }

    h2 {
        font-size: 2rem;
        color: white;
        margin-bottom: 2rem;
    }
}

.rightSection {
    margin-bottom: 2rem;
    width: 30%;
}

.imageContainer {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

.previously {
    width: 100%;
    .previouslyHeading {
        margin: 2rem 0rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        h1 {
            font-size: 4rem;
            font-weight: 500;
        }
        h2 {
            font-size: 2rem;
            color: var(--color-purple);
        }
    }
}

.previouslyGridContainer {
    margin: 0rem 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr); /* Always 3 columns */
}

.previouslyGridContainer > div {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.previouslyImageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seeMore {
    width: 100%;
    display: flex;
    justify-content: center;

    > :first-child {
        width: 30%;
    }
}

.seeMoreButton {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 5rem;
    background-color: var(--color-purple);
    color: white;
    margin-top: 2rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: 1px solid;
    border-color: var(--color-border);

    margin: 4rem 0rem;

    > :first-child {
        margin-right: 1rem;
    }
}

@media (width<=1200px) {
    .previouslyGridContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width<=1000px) {
    .leftSection {
        h1 {
            font-size: 2rem;
        }
        h2 {
            font-size: 1rem;
        }
    }
    /* featured image size */
    .rightSection {
        width: 40%;
    }
}

@media (width<=800px) {
    .previouslyGridContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}
