.mainContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
    max-width: 1440px;
}

.featured {
    display: flex;
    overflow: hidden;
    background: url("/blurry-gradient-haikei_christmas.jpeg") no-repeat center center;
    background-size: cover;
    background-position: left;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.featuredContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    max-width: 1600px;

    img {
        border: 1px solid;
        border-radius: 0.5rem;
        border-color: var(--color-border);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        transition: transform 0.2s ease-in;
        &:hover {
            transform: scale(1.02);
        }
    }
}

.leftSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    overflow: hidden;
    background-size: cover;
    gap: 1.5rem;
    h1 {
        font-size: 4rem;
        font-weight: 500;
        color: white;
    }
    h2 {
        font-size: 2rem;
        color: white;
    }
}

.actionsPanel {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    > :first-child {
        margin-bottom: 0.5rem;
    }
    width: 75%;
    min-width: 350px;
}

.rightSection {
    margin-bottom: 2rem;
    /* size of featured image */
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageContainer {
    img {
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.06);
        cursor: pointer;
    }
}

.previously {
    width: 100%;
    .previouslyHeading {
        margin: 1rem 0rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 1.5rem;
        h1 {
            font-size: 4rem;
            font-weight: 500;
        }
        h2 {
            font-size: 2rem;
            color: var(--color-purple);
        }
    }
}

.seeMore {
    width: 100%;
    display: flex;
    justify-content: center;
    > :first-child {
        width: 400px;
    }
}

.seeMoreButton {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 5rem;
    background-color: var(--color-purple);
    color: white;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    border: 1px solid;
    border-color: var(--color-border);
    margin: 2rem 0rem;
    > :first-child {
        margin-right: 1rem;
    }
    transition: color 0.3s ease-in, background-color 0.3s ease-in;
    &:hover {
        background-color: var(--color-teal);
        color: black;
    }
}

@media (width<=1400px) {
    .seeMore {
        > :first-child {
            width: 40%;
        }
    }
}

@media (width<=1200px) {
    .rightSection {
        /* size of featured image */
        width: 40%;
    }
}

@media (width<=1000px) {
    .leftSection {
        h1 {
            font-size: 3rem;
        }
        h2 {
            font-size: 1.5rem;
            text-align: center;
        }
    }

    /* Heading More Coloring Pages */
    .previously {
        .previouslyHeading {
            h1 {
                font-size: 2rem;
            }
            h2 {
                font-size: 1rem;
            }
        }
    }

    /* featured image size */
    .rightSection {
        width: 40%;
    }

    /* width see all coloring pages */
    .seeMore {
        > :first-child {
            width: 80%;
        }
    }
}

/* on mobile */
@media (width<=800px) {
    .seeMoreButton {
        font-size: 1rem;
        padding: 1rem 0rem;
    }

    .leftSection {
        h1 {
            font-size: 2.5rem;
        }
        h2 {
            font-size: 1.25rem;
            text-align: center;
        }
        align-items: center;
        gap: 1rem;
    }

    .featuredContent {
        flex-direction: column;
    }

    /* featured image size */
    .rightSection {
        width: 90%;
        margin-top: 1rem;
    }

    .previously {
        margin-top: 2rem;
        .previouslyHeading {
            margin: 0px;
            gap: 1rem;
            margin-bottom: 2rem;
        }
    }

    .tagsContainer {
        display: none !important;
    }

    .actionsPanel {
    }
}
