.mainContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
    max-width: 1440px;
}

.featured {
    width: 100%;
}