.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 0 0.5rem;
    font-size: 0.9rem;
    /*  background: url("/blurry-gradient-haikei-3.svg") no-repeat center center;
    background-size: cover; */
    color: black;
    border-top: 1px solid;
    border-color: var(--color-border);
}

.footerLeft {
    display: flex;
    flex-direction: column;

    .heading {
        display: flex;
        flex-direction: row;
        font-size: 1rem;
        align-items: center;
        > :first-child {
            margin-right: 0.5rem;
        }
    }
    .logo {
        width: 40px;
    }
}

.footerRight {
}

/* on mobile */
@media (width<=800px) {
    .footerContainer {
    }
    .footerLeft {
        .heading {
            > :first-child {
                margin-right: 0.5rem;
            }
        }
    }
    .foorterRight {
        text-align: right;
    }
}
