.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 0 0.5rem;
    font-size: 0.9rem;
    color: black;
    border-top: 1px solid;
    border-color: var(--color-border);
}

.footerLeft {
    display: flex;
    flex-direction: column;

    .heading {
        display: flex;
        flex-direction: row;
        font-size: 1rem;
        align-items: center;
    }
    .logo {
        width: 150px;
        height: auto;
    }
}

.footerRight {
}

/* on mobile */
@media (width<=800px) {
    .footerContainer {
        height: 75px;
    }

    .logo {
        width: 125px !important;
    }
    .foorterRight {
        text-align: right;
    }
}
