.promotionContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 2000px;
}

.promotionHeading {
    flex-direction: column;
    align-items: center;
    display: flex;
    h2 {
        font-size: 4rem;
        font-weight: 500;
    }
    h3 {
        font-size: 2rem;
        color: var(--color-purple);
        margin-bottom: 1rem;
    }
    height: 100%;
    width: 100%;
}

.headingWithImg {
    display: flex;
    justify-content: center;
    margin: 1rem 0rem;
    img {
        width: auto;
        height: 100%;
        max-height: 300px;
        -webkit-mask-image: linear-gradient(
            to right,
            transparent 0%,
            black 10%,
            black 90%,
            transparent 100%
        );
        mask-image: linear-gradient(
            to right,
            transparent 0%,
            black 10%,
            black 90%,
            transparent 100%
        );
    }
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 1rem;
    opacity: 100%;
}

.promotionContent {
    overflow: hidden;
    background: url("/promotions/a-pirate-life.webp") no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.seeCollectionContent {
    z-index: 2;
    width: 400px;
}

.backgroundOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    /* background: url("/blurry-gradient-haikei-3.svg") no-repeat center center;*/
    background-color: white;
    background-size: cover;
}

.imageContainer {
    display: flex;
    z-index: 2;
    margin: 2rem;
    img {
        border: 1px solid;
        border-radius: 0.5rem;
        border-color: var(--color-border);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        max-height: 600px;
        transition: transform 0.2s ease-in;
        &:hover {
            transform: scale(1.02);
        }
    }
}

.seeCollectionContent {
    margin-bottom: 2rem;
}

@media (width<=1200px) {
}

@media (width<=1000px) {
    .promotionHeading {
        h2 {
            font-size: 3rem;
            text-align: center;
        }
        h3 {
            font-size: 1.5rem;
            text-align: center;
        }
    }
}

/* on mobile */
@media (width<=800px) {
    .seeCollectionContent {
        width: 80%;
    }
    .promotionHeading {
        width: 95%;
        column-gap: 0rem;
        h2 {
            font-size: 2.5rem;
        }
        h3 {
            font-size: 1.25rem;
        }
    }

    .headingWithImg {
        flex-direction: column;
        > div {
            justify-content: center;
            align-items: center;
            > h2 {
                display: none;
            }
        }
    }
}

@media (width<=1000px) {
    /* make sure margin on right side of heading */
    .promotionContainer {
        max-width: 95%;
    }
}
