.mainContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;

    h1 {
        font-size: 3rem;
        font-weight: 500;
    }
    h2 {
        span {
            color: var(--color-blue);
            font-weight: 600 !important;
        }
        font-size: 2rem;
        color: var(--color-purple);
    }
}

.aboutContainer {
    margin: 1rem 0rem;
}

.heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    > :first-child {
        margin-right: 0.25rem;
    }
    span {
        font-size: 2rem;
    }
}

.aboutContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.textContent {
    max-width: 800px;
    > :last-child {
        margin: 1rem 0rem;
    }
}

.features {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    text-align: start;

    .featuresTitle {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .featuresDescription {
        margin-left: 2rem;
        font-size: 1.25rem;
    }
}

/* on mobile */
@media (width<=800px) {
    .textContent {
        max-width: 90%;
    }
}
