.mainContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    h1 {
        font-size: 3rem;
        font-weight: 500;
        color: var(--color-purple);
    }
    h2 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    p {
        font-size: 1.25rem;
    }
}

.collectionContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.breadCrumbContent {
    width: 100%;
    padding: 0.5rem 0rem 0rem 2rem;
    span,
    a,
    p {
        font-size: 1.25rem;
        color: black;
    }
    svg {
        color: black;
    }
}

.promoBackground {
    width: 100%;
    height: 400px;
    position: relative;
}

.collectionContent {
    position: relative;
    max-width: 1440px;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    margin-bottom: 2rem;
}

.imagesContainer {
    margin-top: 0.5rem;
}

.backgroundOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    background: url("/blurry-gradient-haikei-3.svg") no-repeat center center;
    background-color: white;
    background-size: cover;
    border-radius: 1rem;
    border: 1px solid;
    border-radius: 1rem;
    border-color: var(--color-border);
}



@media (width<=800px) {
    .mainContainer {
        h1 {
            text-align: center;
        }

        .collectionContainer {
            width: 90%;
        }


        .breadCrumbContent p, a{ 
            font-size: 1.1rem;
        }

    }
}
