.imageContainer {
    position: relative;
}

.colorizeOverlay {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
}

/* make bigger so easier to click */
.callToAction {
    padding: 0.5rem;
    background-color: white;
    border: 1px solid;
    border-radius: 0.25rem;
    border-color: var(--color-border);
    cursor: pointer;
}
